account:
  api_id: $API_ID
  api_hash: $API_HASH
  phone: $PHONE
  username: $USERNAME
  session_id: $TG_READER_SESSION_ID

  bot_token: $BOT_TOKEN
  bot_username: $BOT_USERNAME

# LOG
logger:
  path: null # e.g. /root/absolute-path/   default null: {_current_path}/logs/
  level: INFO # FATAL,ERROR,WARN,INFO,DEBUG,NOTSET

# Proxy
proxy:
  type: SOCKS5 # e.g. SOCKS4, SOCKS5, HTTP
  address: null  # e.g. 127.0.0.1
  port: null # e.g. 1088


# Automatically leave groups/channels (for those without valid subscription records)
auto_leave_channel: false


# Message de-duplication rules
# SUBSCRIBE_ID: Default rule; deduplicate per subscription
# MESSAGE_ID: Deduplicate by message ID (if one message matches multiple subscriptions, only the first alert is returned)
msg_unique_rule: SUBSCRIBE_ID # default SUBSCRIBE_ID

# Non-public service
# This bot only serves specified users
private_service: true
authorized_users:
  - $AUTHORIZED_USER_ID

# Block messages sent by bots (groups only)
# For example, some groups have auto-reply bots that generate duplicate messages; or ad bots that spam after joining
block_bot_msg: false # default allow
