# Account configuration description

# Config BOT and account
account:
  # Account that monitors channel messages
  api_id: '1400003'
  api_hash: 'd11xxxxx112a7e059e831'
  phone: '+86190000010'
  username: 'cliasaxxxev'

  # Bot token used to send messages
  bot_token: '1000007:AAHNh8axxxxxxxxxxxxxxxxHA'
  bot_username: 'keyxxxxxrt_bot' # Same as bot_name

# LOG
logger:
  path: null # e.g. /root/absolute-path/  default null: {_current_path}/logs/
  level: INFO # FATAL,ERROR,WARN,INFO,DEBUG,NOTSET

# Proxy
proxy:
  type: SOCKS5 # e.g. SOCKS4, SOCKS5, HTTP
  address: null  # e.g. 127.0.0.1
  port: null # e.g. 1088

# Automatically leave groups/channels (for those without valid subscription records)
auto_leave_channel: false

# Message de-duplication rules
# SUBSCRIBE_ID: Default rule; deduplicate per subscription
# MESSAGE_ID: Deduplicate by message ID (if one message matches multiple subscriptions, only the first alert is returned)
msg_unique_rule: SUBSCRIBE_ID # default SUBSCRIBE_ID

# Non-public service
# This bot only serves specified users
private_service: false
authorized_users:
  - 123456789
  - 987654321

# Block messages sent by bots (groups only)
# For example, some groups have auto-reply bots that generate duplicate messages; or ad bots that spam after joining
block_bot_msg: false # default allow