[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
ruff = "*"

[packages]
telethon = "*"
pysocks = "*"
peewee = "*"
pyyaml = "*"
diskcache = "*"
asyncstdlib = "*"
colorama = "*"
text-box-wrapper = "*"
aiohttp = "*"

[requires]
python_version = "3.11"
